flows.json
[
    {
        "id": "fdc8e3d8961a98c3",
        "type": "tab",
        "label": "all nodes test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e836ea2005b73bd4",
        "type": "modbus-client",
        "name": "modbus_Client_from_Host_192.168.1.5",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.1.5",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "64af09dae28e4ac2",
        "type": "inject",
        "z": "fdc8e3d8961a98c3",
        "name": "fake data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[32870,16838,10199,16856]",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4001a1e3943076e7"
            ]
        ]
    },
    {
        "id": "f5928c5d82d15c4e",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "7adeeb520d3e9308",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "Modbus_Read_values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "2e9617f7c59ea5e3",
        "type": "inject",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[3,5,0,16553,16017,16703,16702,15879,16700,16795,16564]",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "79d3bbac7d9eddac"
            ]
        ]
    },
    {
        "id": "1f9dc7b6954707e9",
        "type": "function",
        "z": "fdc8e3d8961a98c3",
        "name": "function 13",
        "func": "var a = msg.payload[0]//\"machine_state\"\nvar b = msg.payload[1]//\"cycle_state\"\nvar c = msg.payload[2] //\"alarm_state\"\nvar d = msg.payload[3]//\"inlet_temp\"\nvar e = msg.payload[4]//\"outlet_temp\"\nvar f = msg.payload[5]//\"inlet_pressure\"\nvar g = msg.payload[6]//\"column_a_pressure\"\nvar h = msg.payload[7]//\"column_b_pressure\"\nvar i = msg.payload[8]//\"outlet_pressure\"\nvar j = msg.payload[9]//\"outlet_dewpoint\"\nvar k = msg.payload[10]//\"flowrate\"\nvar data_in = { \"machine_state\": a, \"cycle_state\": b, \"alarm_state\": c, \"inlet_temp\": d, \"outlet_temp\": e, \"inlet_pressure\": f, \"column_a_pressure\": g, \"column_b_pressure\": h, \"outlet_pressure\": i, \"outlet_dewpoint\": j, \"flowrate\":k};\n\nglobal.set(\"data_in\", data_in);\nmsg.payload = data_in;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 460,
        "wires": [
            [
                "4db2504d4b4a9c9c"
            ]
        ]
    },
    {
        "id": "4db2504d4b4a9c9c",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "80a3271920b69553",
        "type": "function",
        "z": "fdc8e3d8961a98c3",
        "name": "function 14",
        "func": "//var data_input = msg.payload;\n//msg.payload = data_input;\n//msg.topic =data_input;\n//return msg;\nvar a = msg.payload[0]//\"machine_state\"\nvar b = msg.payload[1]//\"cycle_state\"\nvar c = msg.payload[2] //\"alarm_state\"\nvar d = msg.payload[3]//\"inlet_temp\"\nvar e = msg.payload[4]//\"outlet_temp\"\nvar f = msg.payload[5]//\"inlet_pressure\"\nvar g = msg.payload[6]//\"column_a_pressure\"\nvar h = msg.payload[7]//\"column_b_pressure\"\nvar i = msg.payload[8]//\"outlet_pressure\"\nvar j = msg.payload[9]//\"outlet_dewpoint\"\nvar k = msg.payload[10]//\"flowrate\"\nvar data_input = { \"machine_state\": a, \"cycle_state\": b, \"alarm_state\": c, \"inlet_temp\": d, \"outlet_temp\": e, \"inlet_pressure\": f, \"column_a_pressure\": g, \"column_b_pressure\": h, \"outlet_pressure\": i, \"outlet_dewpoint\": j, \"flowrate\": k };\n\nglobal.set(\"data_input\", data_input);\nmsg.payload = data_input;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "7adeeb520d3e9308",
                "91da33752778022f"
            ]
        ]
    },
    {
        "id": "1a016e4ac4efea32",
        "type": "function",
        "z": "fdc8e3d8961a98c3",
        "name": "Azure_standard_input",
        "func": "var dateNow = new Date();\nvar data = global.get(\"data_in\")\nvar data_testing= {\n    'deviceId': \"My_AzureIOTdevice_1\",\n    'productFilter': \"pcmExternal\",\n    'ts': dateNow,\n    'key': \"B3c401KXxrjrpa4Zv0Yt3A5XcoZBwxS+lS7ByzrnNMI=\",\n    'protocol': \"mqtt\",\n    'data_in': data\n}\nmsg.payload = data_testing\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "9679e2c6be1a1898",
                "4a10506470cdca05",
                "c2b516733f84365b"
            ]
        ]
    },
    {
        "id": "8943f6ba84f5364e",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "Azure_response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a10506470cdca05",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "Debug_Azure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "f21dbb68e17c2071",
        "type": "file",
        "z": "fdc8e3d8961a98c3",
        "name": "data_file_write",
        "filename": "D:\\Nodered_file\\flowdata2",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "91da33752778022f",
        "type": "json",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 220,
        "wires": [
            [
                "f21dbb68e17c2071"
            ]
        ]
    },
    {
        "id": "f52668c1bd310301",
        "type": "file",
        "z": "fdc8e3d8961a98c3",
        "name": "data_file_write",
        "filename": "D:\\Nodered_file\\flowdata3",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b516733f84365b",
        "type": "json",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "f52668c1bd310301"
            ]
        ]
    },
    {
        "id": "43067065c2410be2",
        "type": "modbus-read",
        "z": "fdc8e3d8961a98c3",
        "name": "Modbusread",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "11",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "e836ea2005b73bd4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "1f9dc7b6954707e9",
                "1a016e4ac4efea32"
            ],
            []
        ]
    },
    {
        "id": "9679e2c6be1a1898",
        "type": "azureiothub-ot",
        "z": "fdc8e3d8961a98c3",
        "name": "My_AzureIOTdevice_1",
        "protocol": "mqtt",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "8943f6ba84f5364e"
            ],
            []
        ]
    },
    {
        "id": "6b05c5be9e09b888",
        "type": "buffer-parser",
        "z": "fdc8e3d8961a98c3",
        "name": "2",
        "data": "payload",
        "dataType": "msg",
        "specification": "{\"options\":{\"byteSwap\":[\"swap16\"],\"singleResult\":false,\"resultType\":\"value\",\"setTopic\":true},\"items\":[{\"name\":\"ppm\",\"type\":\"floatle\",\"offset\":0},{\"name\":\"temp\",\"type\":\"floatle\",\"offset\":4}]}",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatle",
                "name": "ppm",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "temp",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "swap16",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "",
        "resultType": "value",
        "resultTypeType": "",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 810,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c454d4535cdc8777",
        "type": "buffer-parser",
        "z": "fdc8e3d8961a98c3",
        "name": "Modbus_data_parse",
        "data": "payload",
        "dataType": "msg",
        "specification": "{\"options\":{\"byteSwap\":[\"swap16\"],\"singleResult\":true,\"resultType\":\"object\"},\"items\":[{\"name\":\"ppm\",\"type\":\"floatle\",\"offset\":0},{\"name\":\"temp\",\"type\":\"floatle\",\"offset\":4}]}",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "machine_state",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "cycle_state",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "alarm_state",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_temp",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_temp",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_pressure",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_a_pressure",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_b_pressure",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_pressure",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_dewpoint",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "flowrate",
                "offset": 18,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "swap16",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "",
        "resultType": "keyvalue",
        "resultTypeType": "",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 640,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "846d8f5eb56037eb",
        "type": "buffer-parser",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "{\"options\":{\"byteSwap\":[\"swap16\"],\"singleResult\":true,\"resultType\":\"object\"},\"items\":[{\"name\":\"ppm\",\"type\":\"floatle\",\"offset\":0},{\"name\":\"temp\",\"type\":\"floatle\",\"offset\":4}]}",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "machine_state",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "cycle_state",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "alarm_state",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_temp",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_temp",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_pressure",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_a_pressure",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_b_pressure",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_pressure",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_dewpoint",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "flowrate",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "swap16",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "",
        "resultType": "object",
        "resultTypeType": "",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 650,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "79d3bbac7d9eddac",
        "type": "buffer-parser",
        "z": "fdc8e3d8961a98c3",
        "name": "Modbus_data_parse",
        "data": "payload",
        "dataType": "msg",
        "specification": "{\"options\":{\"byteSwap\":[\"swap16\"],\"singleResult\":true,\"resultType\":\"object\"},\"items\":[{\"name\":\"ppm\",\"type\":\"floatle\",\"offset\":0},{\"name\":\"temp\",\"type\":\"floatle\",\"offset\":4}]}",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "machine_state",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "cycle_state",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "alarm_state",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_temp",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_temp",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "inlet_pressure",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_a_pressure",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "column_b_pressure",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_pressure",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "outlet_dewpoint",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatle",
                "name": "flowrate",
                "offset": 18,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "swap16",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "",
        "resultType": "keyvalue",
        "resultTypeType": "",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": false,
        "outputs": 1,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "f5928c5d82d15c4e"
            ]
        ]
    },
    {
        "id": "4001a1e3943076e7",
        "type": "toFloat",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "toFixed": "",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "a4c8ebc0d89f3901"
            ]
        ]
    },
    {
        "id": "592e3e82f7b296e3",
        "type": "random",
        "z": "fdc8e3d8961a98c3",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "a4c8ebc0d89f3901"
            ]
        ]
    },
    {
        "id": "a4c8ebc0d89f3901",
        "type": "debug",
        "z": "fdc8e3d8961a98c3",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 40,
        "wires": []
    }
]